body 
{
  font-family: Trebuchet, sans-serif;
  color: #6F4E37;
  background-color: #E8E288;
}

h1
{
    font-family: Georgia, sans-serif;
    color: #6F4E37
}

h2
{
    font-family: Georgia, sans-serif;
    color: #6F4E37
}

h3
{
    font-family: Georgia, sans-serif;
    color: #6F4E37
}

p
{
    font-family: Georgia, sans-serif;
    color: #6F4E37
}


header
{
  font-family: Courier, serif;
  text-align: center;
  color: #1F1300;
}

footer
{
    position: relative;
    bottom: 0;
}

ol {
    list-style-type: square;
    overflow: hidden;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #6F4E37;
}

  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    font-family: Courier, serif;
    color: #E8E288;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #1F1300;
    text-decoration: underline;
  }

