body 
{
  font-family: Trebuchet, sans-serif;
  color: #6F4E37;
  background-color: #E8E288;
}

h1
{
    font-family: Georgia, sans-serif;
    color: #6F4E37;
    text-align: center;
}

h2
{
    font-family: Georgia, sans-serif;
    color: #6F4E37;
    text-align: center;
    margin: 50px 25px 25px;
}

h3
{
    font-family: Georgia, sans-serif;
    color: #6F4E37;
    text-align: center;
}

p
{
    font-family: Georgia, sans-serif;
    color: #6F4E37;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #1F1300;
  margin: 25px 50px 50px;
  align-items: center;
}
main
{
  margin: 10px 50px 200px;
}

footer
{
    position: relative;
    bottom: 0;
    margin:25px 50px 50px;
    align-items: center;
}
a:link  
{
    color: #CC9966;
    background-color: transparent;
    text-decoration: none;
}

a:visited 
{
    color: #CC9966;
    background-color: transparent;
    text-decoration: none;
}
a:hover 
{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure figcaption
{
  text-align: center;
  margin-top: 5px;
}

nav
{
  list-style-type: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
  overflow: auto;
  background-color: #6F4E37;
  border-right:  1px solid #bbb;
  float: left;
  align-items: center;
}
nav a 
{
  display: block;
  font-family: Courier, serif;
  color: #E8E288;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right:  1px solid #bbb;
  float: left;
}
nav a:hover 
{
  background-color: #1F1300;
  text-decoration: underline;
}
table, th, td {
  border: 1px solid #1F1300;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
#center_list
{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

input
{
  background-color: #6F4E37;
  color: #CC9966;
}
::placeholder
{
  color: #CC9966;
}
button
{
  margin-bottom: 5px;
}