body 
{
  font-family: Tahoma, sans-serif;
  color: #FFE77AFF;
  background-color: #2C5F2DFF;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #D4AF37;
}
a:link 
{
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:visited 
{
    color: orangered;
    background-color: transparent;
    text-decoration: none;
}
a:hover 
{
    color:red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}