body 
{
  font-family: Tahoma, sans-serif;
  color: #FFE77AFF;
  background-color: #2C5F2DFF;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #D4AF37;
}
a:link 
{
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:visited 
{
    color: orangered;
    background-color: transparent;
    text-decoration: none;
}
a:hover 
{
    color:red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #2C5F2DFF;

}

  li {
    border-right:  1px solid #bbb;
    float: left;
  }
  
  li a {
    display: block;
    font-family: Courier, serif;
    color: #FFE77AFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #000e00;
    text-decoration: underline;
  }
