body 
{
  font-family: Trebuchet, sans-serif;
  color: #6F4E37;
  background-color: #E8E288;
}

h1
{
    font-family: Georgia, sans-serif;
    color: #6F4E37;
    text-align: center;
   
}

h2
{
    font-family: Georgia, sans-serif;
    color: #6F4E37;
    text-align: center;
    margin-left: -400px;
    
}

h3
{
    font-family: Georgia, sans-serif;
    color: #6F4E37;
    text-align: center;
}

p
{
    font-family: Georgia, sans-serif;
    color: #6F4E37;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #1F1300;
  margin: 25px 50px 50px;
  align-items: center;
  width:auto;
}
main
{
  margin: 10px 50px 200px;
}

footer
{
    text-align: center;
    position:relative;
    bottom: 0;
    margin:25px 50px 50px;
    align-items: center;
    width:auto;
    
}
a:link  
{
    color: #CC9966;
    background-color: transparent;
    text-decoration: none;
}

a:visited 
{
    color: #CC9966;
    background-color: transparent;
    text-decoration: none;
}
a:hover 
{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure figcaption
{
  text-align: center;
  margin-top: 5px;
}

nav
{
  list-style-type: none;
  width: 100%;
  margin-bottom: 5px;
  padding: 0;
  overflow: auto;
  background-color: #6F4E37;
  border-right:  1px solid #bbb;

}
/*nav li
{
  display: inline;
}*/
nav a 
{
  display: block;
  font-family: Courier, serif;
  color: #E8E288;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right:  1px solid #bbb;
  margin: auto;
  float: left;
}
nav a:hover 
{
  background-color: #1F1300;
  text-decoration: underline;
}
table, th, td {
  border: 1px solid #1F1300;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
#center_list
{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

input
{
  background-color: #6F4E37;
  color: #CC9966;
}
::placeholder
{
  color: #CC9966;
}
button
{
  margin-bottom: 5px;
}


#display
{
  background-color: #6F4E37;
  color: #E8E288; 
}
#employee_form
{
  display: table;
  background-color:tan;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
* {box-sizing:border-box}


.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

li {
    display: inline;
    margin: 5px 5px 5px 5px;
}
  
p #image{
    margin-left: 75px;
    display: inline;
}

#image_swap {
    margin-left: 415px;
    border-radius: 3px;
    border-color: #1F1300 ;
}
