<footer>
    <p><a id="validation_link_html" href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank"><img alt="CSS-validator" src="images/button_validation_css.png" width ="88" height = "31"></a>
    <a id="validation_link_css" href="https://validator.w3.org/check?uri=referer" target="_blank"><img alt="HTML-validator" src="images/button_validation_html5.png" width ="88" height = "31"></a></p>
Created by <a href="https://webpages.charlotte.edu/kshew2/itis3135/khakisalamanderinc.com/index.html" target="_blank"> Shew Dev. Industries</a> &copy;2022. 

</footer>