<footer>
    <br />
    <div class="footer" id="myBottomNav">
    <nav class="bottomNav">
        <a id="full-text" href="https://github.com/kshew2" target="_blank" ><i class="fa fa-github" style="font-size: xx-large; "> </i></a>
        <a  href="https://www.linkedin.com/in/khalil-shew-75759322a/" target="_blank">
            <i class="fa fa-linkedin" style= "background-color: white; color: #990011FF; padding: 2px; border-radius: 3px; font-size: x-large;" > </i></a>
        <!--<a href="https://webpages.charlotte.edu/kshew2/" target="_blank">UNCC Link</a>-->
        <p style="font-size: smaller;">Created by Shew Development Industries &copy;2022.</p>
      <!--  <a href="javascript:void(0);" class="icon" onclick="navFunction2()">
           <i class="fa fa-bars"></i>-->
        </a>
    </nav>
    </div>
   <!-- <p><a href="https://jigsaw.w3.org/css-validator/check/referer"><img alt="CSS-validator"
                src="itis3135/images/button_validation_css.png"></a>
        <a href="https://validator.w3.org/check?uri=referer"><img alt="HTML-validator"
                src="itis3135/images/button_validation_html5.png"></a>
    </p>-->
    <!--Created by Shew Dev. Industries &copy;2022.-->
</footer>