<header>
    <div class="topnav" id="myTopNav">
        <nav>
            <a href="index.html" class="logo">Khalil Shew</a>
            <a href="index.html" class="active">Home</a>
            <a href="projects.html">Projects</a>
            <a href="resume.html">Resume</a>
            <a href="contact.html">Contact</a>
            
            <a href="javascript:void(0);" class="icon" onclick="navFunction()">
                <i class="fa fa-bars"> </i>

            </a>
        </nav>
    </div>
</header>