<header>
    <h1>
        Khalil Shew &#166; ITIS 3135 &#166; Khaki Salamanders
    </h1>
    <nav>
        <a href="index.html" target="_self">Home</a>
        <a href="introduction.html" target="_self">Introduction</a>
        <a href="contract.html" target="_self">Contract</a>
        <a href="tables.html" target="_self">Tables</a>
        <a href="forms.html" target="_self">Forms</a>
        <a href="website_evaluations.html" target="_self">Website Evaluations</a>
        <a href="firstscripts.html" target="_self">Fisrt Scripts</a>
        <a href="polygons.html" targert="_self">Polygons JS</a>
        <a href="calculator_try.html" target="_self">Calculator Try</a>
        <a href="arrays.html" target="_self">Arrays</a>
        <a href="slideshow.html" target="_self">Slideshow</a>
        <a href="image_swap.html" target="_self">Image Swap</a>
        <a href="project_design.html" target="_self">Project Design</a>
        <a href="project/index.html" target="_self">Project</a>
        <a href="activity11/khalilshew-activity11.html" target="_blank">Accordian</a>
        <a href="activity12/khalilshew-activity12.html" target="_blank">Carousel</a>
        <a href="activity13/khalilshew-activity13.html" target="_blank">Activity 13</a>
        <a href="activity14/khalilshew-activity14.html" target="_blank">Activity 14</a>
        <a href="activity15/khalilshew-activity15.html" target="_blank">Activity 15</a>
        <a href="hobby/index.html" target="_blank">Hobby</a>
        <a href="exercise/accessibility/khalilshew-activity_accessibility.html" target="_blank">Accessibilty Activity</a>
        <a href="khakisalamanderinc.com/index.html" target="_blank">Brand</a>
        <a href="stuff.edu/index.htm" target="_blank">CRAP</a>
    </nav>
</header>