<header>
    <h1>
        Khalil Shew &#166; ITIS 3135 &#166; Khaki Salamanders
    </h1>
    <nav>
        <a href="index.html" target="_self">Home</a>
        <a href="introduction.html" target="_self">Introduction</a>
        <a href="contract.html" target="_self">Contract</a>
        <a href="tables.html" target="_self">Tables</a>
        <a href="forms.html" target="_self">Forms</a>
        <a href="website_evaluations.html" target="_self">Website Evaluations</a>
        <a href="firstscripts.html" target="_self">Fisrt Scripts</a>
        <a href="polygons.html" targert="_self">Polygons JS</a>
        <a href="calculator_try.html" target="_self">Calculator Try</a>
        <a href="arrays.html" target="_self">Arrays</a>
        <a href="khakisalamanderinc.com/index.html" target="_blank">Brand</a>
        <a href="stuff.edu/index.htm" target="_blank">CRAP</a>
    </nav>
</header>